<h4>History</h4>
<% sets = @methood.method_result_sets%>
<div class="row">
 <div class="col-md-6">
    <%= line_chart [
      {name: "Lines", data: sets.map{|s| [s.created_at, s.number_of_lines] }},
    ] %>
  </div>
 <div class="col-md-6">
    <%= line_chart [
      {name: "Complexity", data: sets.map{|s| [s.created_at, s.complexity] }},
    ] %>
  </div>
</div>

