<%= form_for(@method_result_set) do |f| %>
  <% if @method_result_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@method_result_set.errors.count, "error") %> prohibited this method_result_set from being saved:</h2>

      <ul>
      <% @method_result_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
