 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

.dl-lower-me {
  padding-top: 55px;
  dt {
    width: 45%;
  }
}

.dl-lower-me-project {
  padding-top: 10px;
  dt {
    width: 45%;
  }
}

.dl-horizontal dt{
  text-align: left;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #0000;

  a {
    color: #555;

    &:hover { 
      color: #222;
    }
  }

  small {
    float: left;
  }

  #footer-right {
    float: right
  }
}

.task-overdue {
  color: red;
}

.hide-show-task {
  position: inline;
  float: right;

  a {
      color: white;
      text-decoration: none;
  }
}


